*{
    margin: 0;
    padding: 0;
}

.font-inter{
    font-family: "Inter",sans-serif;
    font-optical-sizing: auto;
}

header{
    background-color: #FFFFFF;
     

}

nav{
    width: 100%;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 346px;
    margin: 0px auto;
    

}

nav .logo{
    width: 139px;
    padding: 16px 0 16px 120px;
  
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 35px;
    align-items: center;
    

}

nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    

}

nav .btn{
    background-color: #30B686;
    color: #FFFFFF;
    max-width: 164px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    padding: 12.5px 16px;
    border-radius: 5px;
    margin: 16px 120px 16px 0;
   
}
